!!! 5
html(ng-app="InstangularApp")
  head
    title Thinkful Instagram
    link(href="css/styles.css", rel="stylesheet")
  body
    h1 Instangular 
    .container(ng-controller="instagramFetchCtrl")
      .input-wrap
        input(type="text", ng-model="tag")
        input.button(type="submit", value="Search") Search
      p Searching Instagram for photos tagged with {{ tag }}.
      p Sorry, there were no images found with these tags. Try another tag.
      p Sorry, there was an error with the search. Please try again.
      p We found {{ }} results for {{ tag}}.



    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.js")
    script(src="js/madLibApp.js")