!!! 5
html(ng-app="InstangularApp")
  head
    title Thinkful Instagram
    link(href="http://fonts.googleapis.com/css?family=Oswald", rel="stylesheet")
    link(href="css/styles.css", rel="stylesheet")
  body
    .container(ng-controller="instagramFetchCtrl")
      h1 Instangular 
      form.input-wrap(ng-submit="fetchPhotos()", novalidate, name="instaForm")
        input(type="text", ng-model="tag", required, name="tag")
        input.button(type="submit", value="Search Tags") Search Tags

      //- p Searching Instagram for photos tagged with {{ tag }}. #Note to Jon, can't make this work, not sure what to do.
      p(ng-if="invalidForm") Please search for an Instagram tag.
      p(ng-if="nothingReturned") Sorry, there were no images found with these tags, or they are inappropriate. Try another tag.
      p(ng-if="errorFetching") Sorry, there was an error with the search. Please try again.
      p(ng-if="picturesReceived") We found {{ picturesReceived.length }} results for {{ tag }}.

      ul.results-list(ng-show="fetchPhotos")
        li(ng-repeat="picture in picturesReceived")
          a(ng-href="{{ picture.link }}")
            img(ng-src="{{ picture.images.thumbnail.url }}", alt="{{ picture.caption.text}}")



    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular-animate.js")
    script(src="js/InstangularApp.js")